.git
.gitignore
.idea
.vscode
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.env

paper/report/*.aux
paper/report/*.bbl
paper/report/*.bcf
paper/report/*.blg
paper/report/*.fdb_latexmk
paper/report/*.fls
paper/report/*.log
paper/report/*.out
paper/report/*.run.xml
paper/report/*.synctex.gz
